body{
    font-family:Arial, Helvetica, sans-serif;
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)100%) ,url('/IMAGENS/login.jpg');
}
.login{
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius:25px ;
    color: #fff;
}
input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}
button{
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius:10px;
    color: white;
    font-size: 15px;
    cursor:pointer
}
button:hover{
    background-color: deepskyblue;
}